#crd-bg{
     background-color: rgba(0, 0, 0, 0.504);
     width: 290px;
}
.buttons2 {
     display: inline-block;
     padding: .75rem 1.25rem;
     border-radius: 10rem;
     color: #000000;
     font-size: 16px;
     transition: all .1s;
     position: relative;
     overflow: hidden;
     z-index: 1;
     padding: 15px 40px;
     border: solid rgb(0, 0, 0);
     outline: 1px solid #ffffff;
     outline-offset: 2px 10px;
     border-spacing: 15px 50px;
     justify-content: center;
    
 
   }
   body{
     background-color: #1F1F21;
   }